<!DOCTYPE html>
<html>
  <head>
    <title>프론트 API 요청</title>
  </head>
  <body>
    <div>
      <h3>
        <a href="/">전체 글 </a>
      </h3>
      <h3>
        <a href="/myposts">내 글</a>
      </h3>
    </div>
    <div id="result"></div>
    <div class="timeline">
      <div class="twits">
        <form id="hashtag-form" action="/search">
          <input type="text" name="hashtag" placeholder="태그 검색" />
          <button class="btn">검색</button>
        </form>
        {% for twit in twits %}
        <div class="twit">
          <input type="hidden" value="{{twit.User.id}}" class="twit-user-id" />
          <input type="hidden" value="{{twit.id}}" class="twit-id" />
          <div class="twit-author">nickname : {{twit.User.nick}}</div>
          <div class="twit-content">content : {{twit.content}}</div>
          {% if twit.User.id %}
          <form action="/update" method="post">
            <input type="text" name="content" />
            <button class="btn">수정</button>
          </form>
          <form action="/delete/{{twit.id}}" method="post">
            <button class="btn">삭제</button>
          </form>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script></script>
  </body>
</html>
