{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  <div class="userInfo">
    <h2>유저 정보</h2>
    <div>{{user.email}}</div>
    <div>{{user.nick}}</div>
    <form action="/user/update" method="post">
      <h2>정보 수정</h2>
      <div>
        <label for="nick">닉네임</label
        ><input
          type="text"
          class="user-update-nick"
          type="nick"
          name="nick"
          required
        /><br /><label for="originPassword">기존 비밀번호</label
        ><input
          type="text"
          class="user-update-password"
          type="originPassword"
          name="originPassword"
        /><br />
        <label for="password">새 비밀번호</label
        ><input
          type="text"
          class="user-update-password"
          type="password"
          name="password"
        />
      </div>
      <button class="user-update-btn">정보 수정하기</button>
    </form>
  </div>
  <div class="followings half">
    <h2>팔로잉 목록</h2>
    {% if user.Followings %} {% for following in user.Followings %}
    <div>{{following.nick}}</div>
    {% endfor %} {% endif %}
  </div>
  <div class="followers half">
    <h2>팔로워 목록</h2>
    {% if user.Followers %} {% for follower in user.Followers %}
    <div>{{follower.nick}}</div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
